* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

html {
    height: 100%;
    overflow: hidden;
}

    body {
        height: 100vh;
        perspective: 1px;
        transform-style: preserve-3d;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .parallax-wrapper {
        width: 100vw;
        height:100vh;
        box-sizing: border-box;
        transform-style: preserve-3d;
        overflow-x: hidden;
    }

    .parallax-wrapper::before {
        content:"";
        width: 100vw;
        height: 100vh;
        top:0;
        left:0;
        background-image: url("https://lh3.googleusercontent.com/e0DFyxSAmdJQKDTyuclbK6JhUBmda7z94azO5m8pfhJEufMQE2wWkjMJNJX_zgMA_R0CeEvHVrW2DCJyPBamhhqcwH3lY-eCbme77F26XS_4vzoKv0GTEjkp8OpWTZOGTRHj-DBU1MKpTObp_qLXAdjKdT3yqvz3Q2H76IaGYHKggVruU4GKcyNqW5uJOQnUXcfo3vyFHsQhEba29LuZkw46E2PmOyYNhziU0XvQsTuRYoqK4wfc9cMGjv2wpYRHQtLBFpmIcSi9U0aB3qDcfYwpp4Yh0OBsswnG4mtAyKj7OWElgHW9fhrFUgS4Aitht0M8B0A6PAS89lWL-Xf4L-6yhtMs-nUca95n4WQlysvu8hGJ5daqvWaDEO9m3N3EX5nGn5o4uD2d8taYS6iJqW_kxQ5j2AJsgy_EIHSnfiyMkqriFTU4v3QJbSzTXD0vwncnUtm7pIOqI1fS5BlIVfgA8xPphOb5gkOKDgh76kcysELbxOMXLrtEF7IHOYs_xdHSZ5DVzk9uDrpK2Z57_07N65vSmFA-81rghT2T0eZdeTUit1-GdF5p9M5YLkgS974gHxMnuBwAcsnqCPAvROH1IvDGqBIUjOzEV_rHM0GKTm7l1m6Tcroih4hjhK6Qq3m0k989c_4oJEqxJiDvvBHS3xMmm-m6IJUBuN0xT8iXJlqjnTnsonH0GRQMzf3qAc3_UdghhFaMvhVuHh0AmBbJLB7_S038cnJjyMTkSbbgd5Rj=w1467-h978-no");
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        transform:translateZ(-1px) scale(2);
        opacity: 0.8;
        overflow-x: hidden;
    }

    .regular-wrapper {
        width: 100vw;
        min-height: 100vh;
        padding-top: 20px;
        background-color: rgb(255, 255, 247);
        background-size: cover;
        z-index: 2;
        position: relative;
        overflow-x: hidden;
    }

    .content {
        position: absolute;
        width: 100vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.titleName {
    font-size: 30px;
    color: rgb(0, 46, 107);
    margin: 0px 0px 10px 10px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;

}
    
.catchText {
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    color: rgb(0, 38, 87);
    margin: 0px 0px 0px 10px;
    text-align: center;
}

.downArrow {
    text-align: center;
    color: rgb(0, 46, 107);
    font-size: 25px;
    margin-top: 86vh;
    animation:  bounceIn 2s ease-in-out 1s infinite;
}

@keyframes bounceIn {
    20% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
  }

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project {
    width: 90vw;
    min-height: 110vh;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    cursor: pointer;
    animation:  bounceIn 5s infinite;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.99);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.99);
    }
}

    .One {
        text-align: center;
        background-image: url('https://lh3.googleusercontent.com/aEQQA97noYbdJC8SIDynBLzz2Kty9TgWBLdsh--_mi1H87VwUYeIJjR-hhkNt9TqcpCEtkkd2aMj7sXsO2aO7pwzmFl4Y8oBOv_x0uI6Cd1Ns_0-nE-WlgIWvug6ZBVX8HGuA-s4J2psQcWiK0TvCZn2t_cpw8RLuMTTvT9B99VdXZcIWrjSYNtv7GcOFkFgeZ-G2nMrwTTl9hFxL6xfCKmXmySIcfNgigLq6pZa7-PxH81QXXe9aqFY43c2vjq8vVgaqTcw22Ur-lXXhkNIlklLdOaFqaq0YxoaVAmNHgLsOWVus3-9h-RwXaqFCTwq_22qez_-Hjo2RgVLAzOowl4eb4YT7-etKZUvSi-CdZlbKIzTdnGz9n8nja5_PVKzQIQ7ocVKTCa5kkvWbzYnhkCdmfJWZJRjC99HPeGaevnRsfj_D_OzNrpGQNcfzM7Tz86pxMwsIwXVkCcx7SUVR2_490el8NdWs5DPjkKNgm-0IV5g-q0QZGo127sz-QZQo-xf2pCK5A7HOTRev6ZQ1EfX7Mvt7zLW5uU3Rl58Is1mf2sAqDCOORzV8SusOKloPCjKsu-yhm-uM_xBCA2Y7XcwHDItEcSM6pCsgXsaboGEtCOnAq5rWSUiMaiSf5BSCo6_Fns94nTwUAtXmN0rJ_7Ly4dx5ANY1XT-17pXhLqhuTyJA7BeJk2UGzKId9QGLGIFAN-AVD1XAfszGsG7ku5MUwpXP40EXM9_9KAE2tWjoYkJ=w422-h893-no');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .Two {
        text-align: center;
        background-image: url('https://lh3.googleusercontent.com/voqEZnBu_EJ_0RGAGu_HbEShhn2FSpCEVaFU4m51vnN9gnIlA5MRsvYBNp6Az7UzY61nWphaqMkmG8GhwRKGgKWjI11BSy8s3KzysVjlg3GKUOo5L3AuBNV28khbPPlwr3JJpSpQh4dDbmVArjTXrvWXHKJPrS3Qllvi-DIV3uuw624vocOxWYyjYp_J_rdhxdfiYQKQ6oXV8kbgcY_GNEEHMZgyAaWSYTk1Mr4voHOQfITWYxKjNkvr-o_guEEkwZBuOuAOxnbU1AxC5MwwDu2FlDNtzfoh6SM_EmrMvoJ1Ctv7U3t6gMPCNjCLp8T_byk7VGNKh5h7N9yG762lRHuu4zC86o9h82sLHq5EpMVh-Dn306fRW4L8zah0EvXDZTUofd-KzMtaSc0fi6khKWSur-_7OS5YoYkXkU7YeLsv9XjYJ6KkSXX8obC6fVmqlxlkOdcEHrvIUX8QeYS4CfnXt9NLiYbjSiG9Pl_MMuT5dGVPaiQS702GOyq96pw2Vu5IZPVdrFWIGJJn_trDzAil0y7dnWatQHD0y8J9N0SomwK0fdjaSkNs9D0CoT49Uw9pQQKhVOefgVM5hbAEYL5_hqs6pBvo5nWVuAVLMOTD9Qqgi7q-rqh7qKQk88uEmnZDRt0tE6hL2dT3OMrBUtgFj46lu4Kfpq_uKWnTVysk673SDEvinkiEHwaYpB649T7nvM_7aABTCpkyTWkf6dpWZopJkmCtJrqMuhZgNbS6TI6M=w422-h893-no');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .Three {
        text-align: center;
        background-image: url('https://lh3.googleusercontent.com/xCjwHWVeG1sBK5O5JioJ5j6cISNCFjLNCTnmv3O9QyOLITHEJ8a3v3MNlz8cxo77GVsS-ojZKroJhnzM87xQr3g25BPYduyDwUDVQUrmi0qmHkfWKPe12_Y_Q1go9IORLhueqqlRAG2ptuJKadjzUgS8sFt7iw2gRiS_1stfeEbZh_-vc2fj54EfRa6j7ya0KWqVJhsqs2-uHf-6Ph1NV2Lf9juZyVWAzpgUHu1aZF2EccJYELt7kAbKapVyhkepJwSMHlYDupwtOFgH27gPsiYl9JTP5FQXzoRRwca0GUKesXPUvTQUMNgzFKgfPuUqauDU4Xi3vQo8Tq3BLFgrzw3VZu62mWBgpJrU_ezlDPJPZ3zgcw3GPYzoIsNv1w7CYdKfVWzK4rZ61sAh3-XoaAQBfj9_qjhka7eJxJ1lmB32ArsopSj7Xka7wfJv3zQTzn7B-5uJUfv6s73P2zqXEM71e1zNw-TF1zC-olJFNtWj7ddBGTo7JyvNl92bd-yVM-ylrZdJQFC8oLK-Rz8-yUFRxZa-hsh7DM_xWvxUmX9fTk-ZrUWGI-rz16DZwEinpTVO0pTUIrddtIFCkY2IwB9oSO2CEdy5AtRQmY966pP_5RTpzApNN7fS11yO-NkOLf6egzWCd6I9TLfml5yNRmcTFwrViA1-YkLLvr2_1rlWGjMqGzdSHXbdfV0zyyyt1awA73prm-VsHzlrYfnU4hBmS_DVIx3cW1CELCaeWiLh84Xi=w421-h890-no');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 40px;
    }

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
    .overlay-content {
        position: relative;
        top: 12%;
        width: 100%;
        text-align: center;
        overflow-x: hidden;
    }
  
    .overlay a {
        padding: 5vh;
        text-decoration: none;
        font-size: 90px;
        color: rgb(250, 249, 221);
        display: block;
        transition: 0.3s;
    }

#overlayOne {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 110vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    cursor: pointer;
}

#overlayTwo {
    border-radius: 10px;
    position: relative; 
    width: 100%;
    height: 110vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 3; 
    cursor: pointer;
}

#overlayThree {
    border-radius: 10px;
    position: relative; 
    width: 100%;
    height: 110vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 3; 
    cursor: pointer;
}

#text{
    text-decoration: none;
    font-size: 17px;
    color: rgb(219, 219, 219);
    line-height: 20px;
}

.display {
    display: none;
}

footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: rgb(255, 255, 247);
}

.contactButton {
    font-size: 15px;
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgb(0, 46, 107);
    color: rgb(255, 255, 247);
    border-radius: 10px;
    cursor: pointer;
}

.whatIDoList {
    
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
    margin: 20px 20px 20px 20px;
    padding: 10px 0px 10px 0px;
}

.whatIDoListItem {
    padding: 5px 10px 5px 10px;
    
}

.techList {
    list-style: none;
    padding: 10px 20px 20px 20px;
}

.textItem {
    padding: 2px 0px 2px 0px;
    text-align: left;
}

.appDescription {
    padding: 20px 20px 20px 20px;
    text-align: left;
}

.appDescriptionLower {
    padding: 0px 20px 20px 20px;
    text-align: left;
}

.appLinks {
    display: inline-block;
    margin: 50px 20px 20px 20px;
    font-size: 60px;
}

.linksContainer {
    text-align: center;
    color: white;
}

.textTitle {
    font-size: 20px;
    padding: 0px 0px 0px 20px;
    text-align: left;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.textTitleMain {
    font-size: 20px;
    padding: 20px 0px 0px 20px;
    text-align: left;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.titleButton {
    text-align: center;
}

.regularTitle {
    padding: 10px 10px 10px 10px;
    color: rgb(0, 46, 107);
}

.aboutContainer {
    padding: 20px 20px 20px 20px;
    width: 100vw;
    background-image: url("https://lh3.googleusercontent.com/e0DFyxSAmdJQKDTyuclbK6JhUBmda7z94azO5m8pfhJEufMQE2wWkjMJNJX_zgMA_R0CeEvHVrW2DCJyPBamhhqcwH3lY-eCbme77F26XS_4vzoKv0GTEjkp8OpWTZOGTRHj-DBU1MKpTObp_qLXAdjKdT3yqvz3Q2H76IaGYHKggVruU4GKcyNqW5uJOQnUXcfo3vyFHsQhEba29LuZkw46E2PmOyYNhziU0XvQsTuRYoqK4wfc9cMGjv2wpYRHQtLBFpmIcSi9U0aB3qDcfYwpp4Yh0OBsswnG4mtAyKj7OWElgHW9fhrFUgS4Aitht0M8B0A6PAS89lWL-Xf4L-6yhtMs-nUca95n4WQlysvu8hGJ5daqvWaDEO9m3N3EX5nGn5o4uD2d8taYS6iJqW_kxQ5j2AJsgy_EIHSnfiyMkqriFTU4v3QJbSzTXD0vwncnUtm7pIOqI1fS5BlIVfgA8xPphOb5gkOKDgh76kcysELbxOMXLrtEF7IHOYs_xdHSZ5DVzk9uDrpK2Z57_07N65vSmFA-81rghT2T0eZdeTUit1-GdF5p9M5YLkgS974gHxMnuBwAcsnqCPAvROH1IvDGqBIUjOzEV_rHM0GKTm7l1m6Tcroih4hjhK6Qq3m0k989c_4oJEqxJiDvvBHS3xMmm-m6IJUBuN0xT8iXJlqjnTnsonH0GRQMzf3qAc3_UdghhFaMvhVuHh0AmBbJLB7_S038cnJjyMTkSbbgd5Rj=w1467-h978-no");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(0, 46, 107);
}

.aboutBackground {
    background-color: rgb(255, 255, 255, 0.3);
    padding: 20px 20px 20px 20px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
}

.aboutDescription {
    padding: 10px 0px 15px 0px;
    font-size: 20px;
    line-height: 25px;
}

.navBarFull {
    display: none;
}

.fullscreenAppLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.screenAppLinkIcon {
    padding: 10px 20px 0px 0px;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.screenAppLinkIcon a:hover {
    transform: scale(1.3);
    color: rgb(0, 94, 138);
}

.clickMe {
    font-size: 12px;
    text-align: center;
    color: rgb(0, 94, 138);
    padding: 10px 0px 5px 0px;
}

/* small screen */
@media screen and (max-width: 340px) {
    .appDescription {
        font-size: 15px;
    }
    
    .appDescriptionLower {
        font-size: 15px;
    }

    .techList {
        font-size: 15px;
        padding: 0px 0px 0px 20px;
    }
}

/* tablet */
@media screen and (min-width: 600px) {
    .project {
        width: 40vw;
        height: 50vh;
    }
}

/* full screen */
@media screen and (min-width: 800px) {
    .project {
        width: 29vw;
        height: 98vh;
        animation: none;
    }
    

    .project:hover {
        transform: scale(1.02);
        border: none;
        box-shadow: 3px 3px 13px black;
    }

    .Three {
        margin-bottom: 80px;
    }

    footer {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 0px 40px 0px;
        background-color: rgb(255, 255, 247);
    }

    .contactButton {
        font-size: 25px;
        height: 50px;
        width: 200px;
        border: none;
        background-color: rgb(0, 46, 107);
        color: rgb(255, 255, 247);
        border-radius: 10px;
        cursor: pointer;
    }

    .contactButton:hover {
        background-color: rgb(0, 94, 138);
        transform: scale(1.02);
    }

    .titleName {
        font-size: 50px;
        color: rgb(0, 46, 107);
        margin: 0px 0px 10px 10px;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    
    }
        
    .catchText {
        font-size: 25px;
        margin: 10px 0px 0px 0px;
        color: rgb(0, 38, 87);
        margin: 0px 0px 0px 10px;
        text-align: center;
    }

    .navBar {
        display: none;
    }

    .navBarFull {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        color: rgb(0, 38, 87);
    }

    .navBarLink {
        display: inline-block;
        color: rgb(0, 38, 87);
        text-decoration: none;
        padding: 10px 10px 10px 10px;
    }

    .navBarLink:hover {
        transform: scale(1.1);
    }
}