* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

@media screen and (min-width: 900px) {
    
}

html {
    height: 100%;
    overflow: hidden;
}

    body {
        height: 100%;
        -webkit-perspective: 1px;
                perspective: 1px;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .noScroll {
        overflow: hidden;
    }

    .parallax-wrapper {
        width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
    }

    .parallax-wrapper::before {
        content:"";
        width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
        top:0;
        left:0;
        background-image: url("https://lh3.googleusercontent.com/e0DFyxSAmdJQKDTyuclbK6JhUBmda7z94azO5m8pfhJEufMQE2wWkjMJNJX_zgMA_R0CeEvHVrW2DCJyPBamhhqcwH3lY-eCbme77F26XS_4vzoKv0GTEjkp8OpWTZOGTRHj-DBU1MKpTObp_qLXAdjKdT3yqvz3Q2H76IaGYHKggVruU4GKcyNqW5uJOQnUXcfo3vyFHsQhEba29LuZkw46E2PmOyYNhziU0XvQsTuRYoqK4wfc9cMGjv2wpYRHQtLBFpmIcSi9U0aB3qDcfYwpp4Yh0OBsswnG4mtAyKj7OWElgHW9fhrFUgS4Aitht0M8B0A6PAS89lWL-Xf4L-6yhtMs-nUca95n4WQlysvu8hGJ5daqvWaDEO9m3N3EX5nGn5o4uD2d8taYS6iJqW_kxQ5j2AJsgy_EIHSnfiyMkqriFTU4v3QJbSzTXD0vwncnUtm7pIOqI1fS5BlIVfgA8xPphOb5gkOKDgh76kcysELbxOMXLrtEF7IHOYs_xdHSZ5DVzk9uDrpK2Z57_07N65vSmFA-81rghT2T0eZdeTUit1-GdF5p9M5YLkgS974gHxMnuBwAcsnqCPAvROH1IvDGqBIUjOzEV_rHM0GKTm7l1m6Tcroih4hjhK6Qq3m0k989c_4oJEqxJiDvvBHS3xMmm-m6IJUBuN0xT8iXJlqjnTnsonH0GRQMzf3qAc3_UdghhFaMvhVuHh0AmBbJLB7_S038cnJjyMTkSbbgd5Rj=w1467-h978-no");
        background-position: center;
        background-size: cover;
        position: absolute;
        z-index: -1;
        -webkit-transform:translateZ(-1px) scale(2);
                transform:translateZ(-1px) scale(2);
        opacity: 0.8;
        overflow-x: hidden;
    }

    .regular-wrapper {
        width: 100vw;
        min-height: calc(var(--vh, 1vh) * 100);
        padding-top: 20px;
        background-color: rgb(255, 255, 247);
        background-size: cover;
        z-index: 2;
        position: relative;
        overflow-x: hidden;
    }

    .content {
        position: absolute;
        width: 100vw;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

.titleName {
    font-size: 30px;
    color: rgb(0, 46, 107);
    margin: 0px 0px 10px 10px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
    
.catchText {
    font-size: 20px;
    margin: 10px 0px 0px 0px;
    color: rgb(0, 38, 87);
    margin: 0px 0px 0px 10px;
    text-align: center;
}

.downArrow {
    text-align: center;
    color: rgb(0, 46, 107);
    font-size: 25px;
    margin-top: 86vh;
}

.flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.project {
    width: 90vw;
    min-height: 110vh;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.appImg {
    position: absolute;
    width: 90vw;
    height: 110vh;
    border-radius: 10px;
}

.navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
}

.overlay {
    height: calc(var(--vh, 1vh) * 100);
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
    .overlay-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        overflow-x: hidden;
    }
  
    .overlay a {
        padding: 2vh;
        text-decoration: none;
        font-size: 90px;
        color: rgb(250, 249, 221);
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

#overlayOne {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 110vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    cursor: pointer;
}

#overlayTwo {
    border-radius: 10px;
    position: relative; 
    width: 100%;
    height: 110vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 3; 
    cursor: pointer;
}

#overlayThree {
    border-radius: 10px;
    position: relative; 
    width: 100%;
    height: 110vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 3; 
    cursor: pointer;
}

#text{
    text-decoration: none;
    font-size: 17px;
    color: rgb(219, 219, 219);
    line-height: 20px;
}

.display {
    display: none;
}

footer {
    text-align: center;
    padding: 20px 0px 20px 0px;
    background-color: rgb(255, 255, 247);
}

.contactButton {
    font-size: 15px;
    height: 50px;
    width: 100px;
    border: none;
    background-color: rgb(0, 46, 107);
    color: rgb(255, 255, 247);
    border-radius: 10px;
    cursor: pointer;
}

.whatIDoList {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
    margin: 20px 20px 20px 20px;
    padding: 10px 0px 10px 0px;
}

.whatIDoList li {
    padding: 5px 10px 5px 10px;
}

.techList {
    list-style: none;
    padding: 10px 20px 20px 20px;
}

.textItem {
    padding: 2px 0px 2px 0px;
    text-align: left;
}

.appDescription {
    padding: 20px 20px 20px 20px;
    text-align: left;
}

.appDescriptionLower {
    padding: 0px 20px 20px 20px;
    text-align: left;
}

.appLinks {
    display: inline-block;
    margin: 50px 20px 20px 20px;
    font-size: 60px;
}

.linksContainer {
    text-align: center;
    color: white;
}

.textTitle {
    font-size: 20px;
    padding: 0px 0px 0px 20px;
    text-align: left;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.textTitleMain {
    font-size: 20px;
    padding: 20px 0px 0px 20px;
    text-align: left;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.titleButton {
    text-align: center;
}

.regularTitle {
    padding: 10px 10px 10px 10px;
    color: rgb(0, 46, 107);
}

.aboutContainer {
    padding: 20px 20px 20px 20px;
    width: 100vw;
    background-image: url("https://lh3.googleusercontent.com/e0DFyxSAmdJQKDTyuclbK6JhUBmda7z94azO5m8pfhJEufMQE2wWkjMJNJX_zgMA_R0CeEvHVrW2DCJyPBamhhqcwH3lY-eCbme77F26XS_4vzoKv0GTEjkp8OpWTZOGTRHj-DBU1MKpTObp_qLXAdjKdT3yqvz3Q2H76IaGYHKggVruU4GKcyNqW5uJOQnUXcfo3vyFHsQhEba29LuZkw46E2PmOyYNhziU0XvQsTuRYoqK4wfc9cMGjv2wpYRHQtLBFpmIcSi9U0aB3qDcfYwpp4Yh0OBsswnG4mtAyKj7OWElgHW9fhrFUgS4Aitht0M8B0A6PAS89lWL-Xf4L-6yhtMs-nUca95n4WQlysvu8hGJ5daqvWaDEO9m3N3EX5nGn5o4uD2d8taYS6iJqW_kxQ5j2AJsgy_EIHSnfiyMkqriFTU4v3QJbSzTXD0vwncnUtm7pIOqI1fS5BlIVfgA8xPphOb5gkOKDgh76kcysELbxOMXLrtEF7IHOYs_xdHSZ5DVzk9uDrpK2Z57_07N65vSmFA-81rghT2T0eZdeTUit1-GdF5p9M5YLkgS974gHxMnuBwAcsnqCPAvROH1IvDGqBIUjOzEV_rHM0GKTm7l1m6Tcroih4hjhK6Qq3m0k989c_4oJEqxJiDvvBHS3xMmm-m6IJUBuN0xT8iXJlqjnTnsonH0GRQMzf3qAc3_UdghhFaMvhVuHh0AmBbJLB7_S038cnJjyMTkSbbgd5Rj=w1467-h978-no");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(0, 46, 107);
}

.aboutBackground {
    background-color: rgb(255, 255, 255, 0.3);
    padding: 20px 20px 20px 20px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
}

.aboutDescription {
    padding: 10px 0px 15px 0px;
    font-size: 20px;
    line-height: 25px;
}

.navBarFull {
    display: none;
}

.fullscreenAppLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.screenAppLinkIcon {
    padding: 10px 20px 0px 0px;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.screenAppLinkIcon a:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    color: rgb(0, 94, 138);
}

.clickMe {
    font-size: 12px;
    text-align: center;
    color: rgb(0, 94, 138);
    padding: 10px 0px 5px 0px;
}

.footerTagLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    color: rgb(0, 46, 107);
    background-color: rgb(255, 255, 247);
}

/* small screen */
@media screen and (max-width: 340px) {
    .appDescription {
        font-size: 15px;
    }
    
    .appDescriptionLower {
        font-size: 15px;
    }

    .techList {
        font-size: 15px;
        padding: 0px 0px 0px 20px;
    }
}

/* tablet */
@media screen and (min-width: 600px) {
    .project {
        width: 40vw;
        height: 50vh;
    }

    .appImg {
        width: 40vw;
        height: 110vh;
    }
}

/* full screen */
@media screen and (min-width: 800px) {
    .project {
        width: 29vw;
        height: 98vh;
    }

    .project:hover {
        -webkit-transform: scale(1.02);
                transform: scale(1.02);
        border: none;
        -webkit-box-shadow: 3px 3px 13px black;
                box-shadow: 3px 3px 13px black;
    }

    .Three {
        margin-bottom: 80px;
    }

    footer {
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 50px 0px 40px 0px;
        background-color: rgb(255, 255, 247);
    }

    .contactButton {
        font-size: 25px;
        height: 50px;
        width: 200px;
        border: none;
        background-color: rgb(0, 46, 107);
        color: rgb(255, 255, 247);
        border-radius: 10px;
        cursor: pointer;
    }

    .contactButton:hover {
        background-color: rgb(0, 94, 138);
        -webkit-transform: scale(1.02);
                transform: scale(1.02);
    }

    .titleName {
        font-size: 50px;
        color: rgb(0, 46, 107);
        margin: 0px 0px 10px 10px;
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    
    }
        
    .catchText {
        font-size: 25px;
        margin: 10px 0px 0px 0px;
        color: rgb(0, 38, 87);
        margin: 0px 0px 0px 10px;
        text-align: center;
    }

    .navBar {
        display: none;
    }

    .navBarFull {
        font-size: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        color: rgb(0, 38, 87);
    }

    .navBarLink {
        display: inline-block;
        color: rgb(0, 38, 87);
        text-decoration: none;
        padding: 10px 10px 10px 10px;
    }

    .navBarLink:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }

    .appImg {
        width: 29vw;
        height: 110vh;
    }
}